@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h2>Произошла ошибка:</h2>
@if (!string.IsNullOrEmpty(@Model.InvalidProp))
{
    <div>
        Ошибка в свойстве: @Model.InvalidProp
    </div>
}
<div>
    @Model.ErrorMessage
</div>
