@{
    Dictionary<int, int> channels = new Dictionary<int, int>()
    {
        { 31, 2414 },
        { 32, 2419 },
        { 33, 2424 },
        { 34, 2429 },
        { 35, 2434 },
        { 36, 2439 },
        { 37, 2444 },
        { 38, 2449 },
        { 39, 2454 },
        { 40, 2459 },
        { 41, 2464 },
    };
}

<h2>Список частот для старших каналов Wi-Fi 2,4 ГГц:</h2>

<table class="table table-hover table-striped">
    <tr>
        <th>
            Номер канала
        </th>
        <th>
            Частота канала
        </th>
    </tr>

    @foreach (var channel in channels)
    {
        <tr><td>@channel.Key</td><td>@channel.Value</td></tr>
    }

</table>